.baymax {
 display: flex;
 justify-content: center;
 padding: 20px 20px 20px 20px;
 border-radius: 20px;
}

body {
 background-color: #04395E;
}

.aaa-body {
 padding: 10px 10px 10px 10px;
}

.nail {
 text-align: right;
 color: white;
 background-color: #B7D5D4;
 display: flex;
 align-content: center;
 justify-content: space-around;
}

.ese {
 color: white;
}